APP_NAME=LARAVECOM
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravecom
DB_USERNAME=root
DB_PASSWORD=

EMAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_MAILER=smtp
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_ENCRYPTION=TLS
EMAIL_PORT=587
EMAIL_FROM_ADDRESS=info@laravecom.test
EMAIL_FROM_NAME="laravel ecommerce"


GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.7-flash